apiVersion: apps/v1
kind: Deployment
metadata:
  name: timingle-api
  namespace: timingle
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: api
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
